/groupSequentialDesigns/.Rproj.user
.DS_Store

# ignore all LaTeX output files except .tex, .pdf, and .bib
/derivations/**/*.aux
/derivations/**/*.bbl
/derivations/**/*.bcf
/derivations/**/*.blg
/derivations/**/*.log
/derivations/**/*.out
/derivations/**/*.run.xml
/derivations/**/*.synctex.gz
/derivations/**/*-blx.bib
/derivations/**/*.toc

# ignore all Jupyter notebook checkpoints
**/.ipynb_checkpoints